:root {
  --font-mono: ui-monospace, Menlo, Monaco, "Cascadia Mono", "Segoe UI Mono",
    "Roboto Mono", "Oxygen Mono", "Ubuntu Monospace", "Source Code Pro",
    "Fira Mono", "Droid Sans Mono", "Courier New", monospace;
  --background-color: linear-gradient(
    to right top,
    #c7c7c7,
    #cfcfcf,
    #d7d7d7,
    #dfdfdf,
    #e7e7e7,
    #ebebec,
    #eeeef0,
    #f2f2f5,
    #f2f2f7,
    #f1f2fa,
    #f0f3fc,
    #eef3ff
  );
  --text-color: #1e3a4d;
  --text-hover: #4e86a0;
  /* Dark mode */
  --darkmode-background-color: linear-gradient(
    to right top,
    #28292a,
    #282a2c,
    #292b2d,
    #292c2f,
    #2a2d31,
    #2a2e32,
    #2b3033,
    #2b3134,
    #2c3234,
    #2e3434,
    #313534,
    #333635
  );
  --darkmode-text-color: #a6a8ad;
  --darkmode-text-hover: #b2e7ff;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  color: var(--text-color);
  transition: background 0.5s;
}

body {
  background: var(--background-color);
}

.dark-mode {
  background: var(--darkmode-background-color);
  color: var(--darkmode-text-color);
}

a {
  color: inherit;
  text-decoration: none;
}

li {
  list-style: none;
}
